body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}

.cell {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
}
