body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 910px;
  justify-content: center;
}

.cell {
  background-color: white;
  border: 1px solid black;
  width: 55px;
  height: 55px;
}
